:root {
  --background-color: #222831;
  --secondary-color: #5E6E85;
  --secondary-dim-color: #414D5E;
  --accent-color: #FFD369;
  --correct-color: #57EBC7;
  --wrong-color: #EB5783;

  --big-text-size: 50px;
  --header-text-size: 30px;
  --regular-text-size: 22px;
  --small-text-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

button {
  border: none;
}

.app {
  height: 100dvh;
  width: 100%;
  background-color: var(--background-color);
  padding: 15px;
}

.screen {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.welcome-header {
  color: var(--secondary-color);
  font-size: var(--header-text-size);
  margin-bottom: 30px;
}

.small-text {
  color: var(--secondary-color);
  font-size: var(--small-text-size);
  margin-bottom: 15px;
}

.word-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
  margin-bottom: auto;
}

.word {
  padding: 8px 15px;
  border-radius: 999px;
  font-size: var(--regular-text-size);
  background-color: transparent;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
} 

.action-button {
  width: 100%;
  padding: 20px 0px;
  border-radius: 10px;
  color: var(--background-color);
  background-color: var(--secondary-dim-color);
  font-size: var(--regular-text-size);
  font-weight: bold;
  pointer-events: none;
}

.action-button--active {
  pointer-events: all;
}

.action-button--available {
  background-color: var(--accent-color);
}

.action-button--correct {
  background-color: var(--correct-color);
}

.switch-container {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.switch {
  height: 30px;
  width: 60px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  border: 2px solid var(--secondary-color);
  height: 100%;
  width: 100%;
  border-radius: 999px;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 80%;
  width: 40%;
  top: 10%;
  left: 5%;
  background-color: var(--secondary-color);
  border-radius: 999px;

  transition: all .2s;
}

.switch input:checked + .slider:before {
  transform: translateX(120%);
  background-color: var(--background-color);
}

.switch input:checked + .slider {
  background-color: var(--accent-color);
  border: 2px solid #00000000;
}

.switch-text {
  color: var(--secondary-color);
  font-size: var(--regular-text-size);
}


.dialog-container {
  position: absolute;
  display: none;
  inset: 0;
  background-color: #0000006f;
  width: 100%;
  height: 100dvh;
}

.dialog {
  position: absolute;
  padding: 15px;
}

.dialog--active {
  display: block;
}

.check-dialog {
  bottom: 0px;
  width: 100%;

  bottom: 0;
  background: var(--background-color);
}

.check-dialog--correct .check-dialog-btn {
  background-color: var(--correct-color);
}

.check-dialog--wrong .check-dialog-btn {
  background-color: var(--wrong-color);
}

.check-dialog-btn {
  margin-top: 40px;
}

.check-dialog--correct .check-dialog-header {
  color: var(--correct-color)
}

.check-dialog--wrong .check-dialog-header {
  color: var(--wrong-color);
}

.check-dialog-answer {
  margin-top: 10px;
  color: var(--secondary-color);
  font-size: var(--regular-text-size);
}

.task-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.task-question {
  color: var(--secondary-color);
  font-size: var(--header-text-size);
  font-weight:normal;
  margin-top: 20px;
}

.question-highlight {
  color: var(--accent-color);
  font-weight: bold;
}

.option-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  margin-top: auto;
}

.option-btn {
  padding: 15px;
  font-size: var(--regular-text-size);
  font-weight: bold;
  border-radius: 10px;
  background: transparent;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.option--active {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}

.option--active .option-indicator {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color);
}

.option-indicator {
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 999px;
  background: transparent;
  border: 2px solid var(--secondary-color);
}

.check-btn {
  margin-top: 20px;
}

.write-task-field {
  flex-grow: 1;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid var(--secondary-dim-color);
  margin-top: 100px;
  padding: 15px;
  font-size: var(--regular-text-size);
  color: var(--secondary-color);
  outline: none;
  font-family: sans-serif;
}

.write-task-field::placeholder {
  color: var(--secondary-dim-color);
}

.progress-bar-container {
  height: 50px;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid var(--secondary-dim-color);
  overflow: hidden;
}


.progress-bar {
  position: absolute;
  height: 100%;
  width: 30%;
  background-color: var(--secondary-dim-color);
}

.progress-bar-text {
  /* color: var(--accent-color); */
  color: var(--secondary-color);
  background-color: var(--background-color);
  border-radius: 999px;
  padding: 3px 20px;
  font-size: var(--regular-text-size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.audio-play-btn{
  margin-top: 100px;
  background-color: transparent;
}

.audio-play-btn img {
  height: 80px;
}

.play-icon--playing {
  animation: pulse 0.5s ease-in-out infinite;
}

@keyframes pulse {
0% {
  transform: scale(1);
}
50% {
  transform: scale(1.2);
}
100% {
  transform: scale(1);
}
}


.result-screen {
  display: flex;
  flex-direction: column;
}

.result-text-group {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.result-icon {
  height: 100px;
}

.result-header {
  color: var(--accent-color);
  text-align: center;
  font-size: var(--header-text-size);
}

.result-score {
  color: var(--secondary-color);
  text-align: center;
  font-size: var(--regular-text-size);
  font-weight: bold;
}

.view-answers-button {

}

.again-button {
  margin-top: 15px;
}



.answers-dialog {
  background: var(--background-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.answers-dialog-header {
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.answers-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.answers-dialog-answer-item {
  margin-bottom: 20px;
  border-bottom: 1px solid var(--secondary-dim-color);
}

.answers-dialog-answer-item:last-child {
  border: none;
}

.answers-dialog-type {
  color: var(--secondary-dim-color);
  margin-bottom: 10px;
}

.answers-dialog-auxilary {
  color: var(--secondary-dim-color);
  margin-bottom: 10px;
}

.answers-dialog-answer {
  color: var(--secondary-color);
  margin-bottom: 10px;
  font-weight: 400;
}

.answers-dialog-user-answer {
  font-weight: 400;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.answers-dialog-correct-user-answer .answers-dialog-highlight {
  color: var(--correct-color);
}

.answers-dialog-wrong-user-answer .answers-dialog-highlight {
  color: var(--wrong-color);
}

.answers-dialog-highlight {
  font-weight: bold;
  color: var(--accent-color);
}
