

.dialog-container {
    position: absolute;
    display: none;
    inset: 0;
    background-color: #0000006f;
    width: 100%;
    height: 100vh;
}

.dialog {
    background-color: blue;
}

.dialog--active {
    display: block;
}